extends ../templates/layout_default.pug

block variables
  - isMainPage = true
  - pageTitle = 'Эвотека — ваш надежный IT-партнер'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

  -
    blogTiles = [
      {
        title: '«Яндекс», Avito и Wildberries возглавили топ самых дорогих компаний в рейтинге Forbes',
        description: 'Forbes представил рейтинг стоимости российских интернет-компаний',
        img: 1
      },
      {
        title: '«Одноклассники» отметили прирост активной аудитории',
        description: 'Пользователи чаще, чем раньше, регистрируются и восстанавливают свои профили в соцсети',
        img: 2
      },
      {
        title: 'Новые клиентские аудитории',
        description: 'Объедините все онлайн и офлайн данные о ваших клиентах в единую систему',
        img: 3
      },
    ]
  -
    clientsTiles = [
      {
        title: 'Личный кабинет для лизинговой компании Т-Лизинг',
        description: 'Разработка личного кабинета для клиентов лизинговой компании с нуля с интеграцией с внутренним бэк-офисом',
        img: 1,
        tags: [
          {title: 'дизайн', href: '#'},
          {title: 'разработка', href: '#'},
          {title: 'платформа', href: '#'}
        ]
      },
      {
        title: 'Heat Cloud',
        description: 'Heatcloud — проект по разработке программного комплекса по удаленному управлению отопительными котлами и другими устройствами',
        img: 2,
        tags: [
          { title: 'разработка', href: '#' },
          { title: 'платформа', href: '#' }
        ]
      },
      {
        title: 'Видеосчётчик',
        description: 'Проект по анализу товаров на наличии брака с внедрением компьютерного зрения и камер высокого разрешения',
        img: 3,
        tags: [
          { title: 'дизайн', href: '#' },
          { title: 'разработка', href: '#' },
          { title: 'интеграция', href: '#' }
        ]
      },
      {
        title: 'Световая отбраковка',
        description: 'Световая отбраковка — учет товаров и брака на предприятии с помощью компьютерного зрения',
        img: 4,
        tags: [
          { title: 'веб-сайт', href: '#' },
          { title: 'разработка', href: '#' },
          { title: 'маркетинг', href: '#' }
        ]
      }
    ]
  -
    reviewSlides = [
      {
        text: 'ООО «ЕХОББИ» благодарит компанию ООО «Эвотека» за создание современного сайта ehobby.ru набазе php-фреймворка Yii 2.0. С нуля в короткие сроки был успешно выполнен весь комплекс работ. Интерфейс сайта интуитивно понятен для целевой аудитории. Было получено много положительных отзывов от пользователей за дизайн и удобство использования (особенно с мобильных устройств). Рекомендуем Эвотеку как опытного подрядчика в вопросе разработки современных сайтов и комплексных вэб-приложений.',
        name: 'Бутылин Д. А.',
        place: 'Генеральный директор',
        logo: 'ehobby'
      },
      {
        text: 'Мне как бизнесмену очень важен аспект вложений и их окупаемости. Эвотека полностью справляется с данной задачей. Все ясно, прозрачно, без лишних замудреных слов. Разобраться с административной панелью нашей новой платформы и запустить рабочие процессы было достаточно легко. Рад, что на Российском рынке есть такие классные ребята. Успехов вам и процветания.',
        name: 'Силантьев М. А.',
        place: 'Предприниматель',
        logo: '5koleso'
      },
      {
        text: 'ООО «Агрострар» благодарит компанию ООО «Эвотека» за создание отличного современного сайта agro-star.net. Очень понравилось умелое сопровождение процесса разработки сайта. На  каждом этапе перед нами четко ставили вопросы и задачи по выбору из предложенных вариантов, в сайт получился именно такой, как мы хотели. Рекомендуем Эвотеку как опытного подрядчика в вопросе разработке. Надеемся на долгое и плодотворное дальнейшее сотрудничество.',
        name: 'Боковня М. А.',
        place: 'Коммерческий директор',
        logo: 'agrostar'
      },
      {
        text: 'Последнее время работаем исключительно с ООО «Эвотека» в вопросах реализации доработок нашей платформы A1Park. Разработка мобильного приложения и административной панели были разработаны таким образом, чтобы наши менеджеры могли администрировать парковки максимально удобно. Приложение для Андроида попало в ТОП 20 приложений в категории «Навигация», что не может не радовать. Выражаем благодарность всей команде разработки и рекомендуем ООО «Эвотека» как надежного партнёра.',
        name: 'Швецов Р. М.',
        place: 'Генеральный директор ООО «НОП»',
        logo: 'a1park'
      }
    ]
  -
    directions = [
      {
        title: 'Недвижимость',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30 93.505C52.5 88.005 84.5 94.505 86 93.505C87.5 92.505 87 45.505 86 44.505C85 43.505 79 46.005 78.5 44.505C78 43.005 116 6.50496 117 6.00496C118 5.50496 156.5 43.005 155.5 44.505C154.5 46.005 150.5 44.005 148.5 44.505C146.5 45.005 149.5 86.505 148.5 88.005C147.5 89.505 90.5 86.005 90.5 88.005C90.5 90.0049 91 91.5049 90.5 93.505C90 95.505 171 90.5049 217 93.505" stroke="url(#paint0_linear_515_6970)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_515_6970" x1="169.986" y1="91.7183" x2="70.5017" y2="94.0706" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Туризм',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 91.5779C62.5 106.078 114.5 91.5779 117.5 91.5779C120.5 91.5779 150 63.5776 150.5 36.5775C151 9.5774 138 1.07783 120 2.07766C102 3.07749 95 16.5775 96 30.5775C97 44.5776 106.5 55.0778 120 54.0775C133.5 53.0772 143 44.5776 143 28.0778C143 11.578 131.5 7.07764 120 6.07755C108.5 5.07746 88 5.57754 88.5 35.0777C89 64.5778 117.5 91.5779 122.5 91.5779C127.5 91.5779 167.5 79.0776 197 91.5779" stroke="url(#paint0_linear_519_6988)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_6988" x1="162" y1="89" x2="76.5027" y2="89.4802" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Финансы',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29 84.9404C77 95.9404 97.0743 84.9403 111.574 84.4403C126.074 83.9403 135.113 87.9914 134.644 76.2478C134.644 76.2478 136 22.4404 134.644 21.2019C133.287 19.9634 126 17.4404 124.262 21.2019C122.525 24.9634 115.149 31.312 111.574 30.3762C108 29.4404 109.649 38.1607 111.574 39.5505C113.5 40.9404 124.262 37.1607 124.262 39.5505C124.262 41.9404 124.262 73.9542 124.262 73.9542C124.389 80.1903 120 87.9404 111.574 88.4404C103.149 88.9404 83.0445 82.4404 83.0445 46.4313C83.0445 21.2019 102.347 4 128.876 4C155.406 4 172.708 24.6422 172.708 46.4313C172.708 68.2203 161.5 94.4403 128.876 94.4403C96.2524 94.4403 113.5 89.4404 132 89.9404C150.5 90.4404 210.45 100.832 211 90.4403" stroke="url(#paint0_linear_519_6994)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_6994" x1="191.681" y1="88.5964" x2="67.1021" y2="87.1429" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Спорт и активный отдых',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M122.022 93.2266C127.368 94.2646 132.006 94.9 134.693 95.1425C134.693 95.1425 167.906 102.72 190.048 94.1431M122.022 93.2266C110.03 90.8982 94.4748 86.5439 89.3863 80.0536C82.0293 70.6699 84.558 72.5624 86.7419 74.6816L96.424 74.5359L111.374 77.444L98.0897 71.6625L100.443 57.6703L86.4297 47.6273L79.4405 56.3724L82.5845 69.7121C79.57 64.9786 74.9102 58.7337 75.4636 44.4693C76.0169 30.2048 84.9861 14.7983 96.2854 8.55188L99.7765 9.55725M122.022 93.2266C128.489 91.4266 135.171 88.8094 139.053 87.0915L126.345 88.0423L116.163 80.2202C121.223 79.9542 130.884 78.0048 129.052 72.3358C127.219 66.6667 127.992 58.7114 128.607 55.4424L112.297 50.466L111.451 32.0597L132.154 26.1463L143.717 43.7268L132.39 54.436L133.035 72.0859L146.271 74.6401L143.467 83.8919C146.132 82.2377 152.361 78.0424 155.953 74.4944C159.546 70.9464 162.817 63.7573 164.004 60.6063L156.64 63.3756L151.331 44.9414L157.716 33.9267L162.026 36.4254C162.459 44.141 163.617 58.8462 164.789 55.9422C166.253 52.3123 166.211 36.932 163.595 27.0973C161.502 19.2296 151.132 10.7013 146.209 7.42066C150.468 10.7429 156.738 16.8515 147.743 14.7083C136.499 12.0293 127.414 26.5974 131.224 21.1282C134.272 16.7529 126.178 11.8047 121.75 9.87754L124.804 4.60966L143.814 6.03254C138.378 4.37372 125.719 1.04499 118.578 1.00054C111.438 0.956094 105.516 3.66568 103.448 5.02602L99.7765 9.55725M122.022 93.2266C117.019 94.6192 112.144 95.5226 108.792 95.1424C108.792 95.1424 62.2871 89.0665 50 95.1425M99.7765 9.55725L107.251 11.7099L104.093 22.6759L87.901 31.8443L85.4581 27.2289L99.7765 9.55725Z" stroke="url(#paint0_linear_519_6992)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_6992" x1="163.5" y1="91.5" x2="76.4946" y2="91.0557" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Кафе и рестораны',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42 81.9659C52.6931 85.2203 59.202 85.2203 61.0616 83.8255C62.9213 82.4308 65.7108 76.8518 59.202 79.6413C52.6931 82.4308 53.6229 94.9836 57.8072 97.3082C61.9915 99.6327 66.1757 95.9134 67.1056 88.9396C68.0354 81.9659 61.9915 55.9305 62.9213 43.8426C63.8511 31.7547 67.1056 28.9652 67.1056 28.9652C67.1056 28.9652 66.6406 2 65.7108 2C64.781 2 62.9213 23.8511 61.9915 23.8511C61.0616 23.8511 60.5967 2 60.1318 2C59.6669 2 58.2721 23.8511 57.8072 23.8511C57.3423 23.8511 55.4826 2 55.0177 2C54.5528 2 53.6229 29.4302 53.6229 29.4302C53.6229 29.4302 57.8072 32.6846 57.8072 39.1934C57.8072 45.7023 49.9036 68.4833 56.8774 74.9921C60.2823 78.17 68.5003 66.6236 75.4741 50.3515C82.4479 34.0793 100.542 12.2173 122.431 12.6931C176.913 13.8775 173.428 97.3082 121.501 97.3082C71.851 97.3082 73.1179 21.5773 121.501 22.9213C161.586 24.0348 159.605 85.9694 122.431 83.3606C88.3394 80.9682 87.4028 30.36 121.501 30.36C137.496 30.36 158.027 58.08 139.633 70.3429C132.659 74.9921 126.615 65.2288 132.659 61.0446C138.703 56.8603 161.484 58.2551 167.063 57.7901C172.642 57.3252 175.431 50.3515 179.151 48.0269C182.87 45.7023 184.73 50.3515 181.475 51.2813C178.221 52.2111 169.852 49.4216 170.317 42.4479C170.782 35.4741 175.431 3.85967 181.475 2.92984C187.519 2 186.589 94.5186 180.546 96.3783C174.502 98.238 172.642 81.9659 174.967 72.2026C177.291 62.4393 179.151 52.2111 186.589 53.141C194.028 54.0708 190.774 57.7901 197.283 60.1147" stroke="url(#paint0_linear_519_6999)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_6999" x1="164" y1="86.5" x2="78.5067" y2="87.9047" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Дети',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100.213 86.4503C100.213 86.4503 99.116 68.8482 92.9842 74.6497C90.0516 77.4243 95.0783 82.0359 100.213 86.4503ZM100.213 86.4503C100.795 86.9508 101.379 87.4487 101.952 87.9411M100.213 86.4503C100.213 86.4503 96.5917 91.9194 91.4409 93.9824C86.2902 96.0454 78.3043 89.7415 72 94.3436M101.952 87.9411C106.897 92.187 111.095 96.0243 107.213 97.5533C101.205 99.9197 101.391 92.3225 101.952 87.9411ZM101.952 87.9411C102.167 86.2671 102.437 85.0624 102.437 85.0624L112.924 76.2068C112.924 76.2068 164.805 52.6611 166.742 50.402C168.679 48.1428 161.814 2.8082 160.889 2.03094C159.963 1.25367 117.039 15.3649 115.546 16.9373C114.053 18.5097 112.565 73.0797 114.379 72.4835C115.377 72.1555 128.264 51.8824 139.785 33.7542M139.785 33.7542C149.209 18.9264 157.719 5.53361 158.064 5.6638C158.829 5.95315 164.41 47.3831 162.596 47.9793C161.675 48.2821 150.513 41.0758 139.785 33.7542ZM139.785 33.7542C129.385 26.6564 119.392 19.4503 119.532 18.872C119.815 17.697 132.672 14.0114 132.672 14.0114" stroke="url(#paint0_linear_519_7001)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_7001" x1="167" y1="101" x2="72.0004" y2="100.801" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Бытовая техника и электроника',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37 94.6247C45.3527 96.2952 63.399 94.7764 82.5673 94.6315C113.85 94.3952 148.12 94.6247 148.12 94.6247C152.932 94.3765 154.967 93.4988 154.915 87.8296C156.156 58.2528 156.394 41.3503 154.915 9.88557C154.388 5.05219 154.897 2.41768 149.719 2.69061C129.399 1.79087 115.525 1.74891 88.563 2.69076C84.8501 2.73966 83.2552 4.1719 82.1676 7.48729C82.1676 7.48729 81.7679 14.6821 82.5673 15.4816C83.3667 16.2812 151.718 15.881 152.517 15.4813C153.316 15.0816 152.517 7.48707 152.517 10.2851C152.517 13.0831 148.12 13.0831 148.12 10.2851C148.12 7.48707 147.72 7.88679 149.719 7.88679C151.718 7.88679 140.126 9.88557 135.329 9.88557C130.533 9.88557 110.147 9.88557 108.149 9.88557C106.15 9.88557 101.754 7.48729 101.754 7.48729C101.754 7.48729 90.5615 7.48729 87.3638 7.48729C84.1661 7.48729 84.1661 11.8841 87.3638 11.8841C90.5615 11.8841 101.354 10.6852 101.754 11.8841C102.153 13.0831 101.754 19.079 101.754 19.079C118.008 32.4027 160.511 50.7236 134.13 67.4441C107.749 84.1646 83.3667 43.8612 106.55 27.8726C129.733 11.8841 144.523 34.2678 144.123 46.6589C143.723 59.05 135.525 65.0455 119.341 66.2449C103.157 67.4442 95.7578 42.2621 104.152 36.6663C112.546 31.0706 98.1561 19.079 96.9569 19.079C95.7578 19.079 82.1676 17.0802 82.1676 19.079C82.1676 21.0778 81.3681 87.8294 82.1676 89.8282C82.967 91.8269 84.1661 93.4256 85.3653 93.4253C86.5644 93.4251 85.3653 84.6321 85.3653 82.6333C85.3653 80.6345 153.316 80.2348 152.517 82.6333C151.718 85.0318 152.517 94.6247 152.517 94.6247C152.517 94.6247 188.091 102.219 203.68 94.6247" stroke="url(#paint0_linear_519_7003)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_7003" x1="166.5" y1="98" x2="68.0038" y2="97.3916" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Авто',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 90.4411C17.2417 95.8496 66.4083 90.4411 66.4083 90.4411C74.275 90.2129 85.2883 63.5963 64.4417 64.3829C38.3833 65.3663 49.6917 90.4411 62.475 90.4411C72.7017 90.4411 76.2417 86.5079 76.7333 84.0495L166.708 83.0662C168.511 84.5412 183.13 90.4411 191.783 90.4411C202.6 90.4411 208.5 60.4493 187.85 60.4495C167.2 60.4498 171.133 90.4411 185.392 90.4411C196.798 90.4411 205.55 74.3799 204.075 72.2493C204.075 72.2493 214.4 66.3496 216.858 61.4326C219.317 56.5157 222.267 46.1913 220.3 46.6826C218.333 47.174 205.55 58.974 205.55 52.5826C205.55 46.1913 217.35 58.974 220.3 58.4826C223.25 57.9913 224.725 51.5996 223.742 50.1243C222.758 48.649 176.05 32.9161 164.25 31.441C152.45 29.9658 128.358 32.4243 119.508 35.3743C110.658 38.3243 97.875 45.2076 98.8583 47.6659C99.8417 50.1243 168.675 48.6493 177.033 48.6493C185.392 48.6493 185.392 41.7663 176.05 43.241C166.708 44.7157 161.3 52.5823 156.875 55.5326C152.45 58.4829 150.483 56.0246 154.908 52.5826C159.333 49.1406 162.283 54.0573 161.3 59.9576C160.317 65.8579 157.367 72.2496 151.958 74.7076C146.55 77.1657 103.775 80.6079 100.333 74.7076C96.8917 68.8073 100.333 52.0913 95.9083 49.6326C91.4833 47.174 54.1167 50.6163 45.2667 52.5826C36.4167 54.549 23.1417 59.9573 23.1417 64.8743C23.1417 69.7913 33.9583 66.349 36.4167 62.9076C38.875 59.4663 32.975 57.9913 27.075 60.9409C21.175 63.8906 21.6667 82.574 23.6333 84.0493C25.6 85.5246 47.725 84.0493 47.725 84.0493C55.7442 89.82 61.7417 91.2564 75.2583 90.4411C75.2583 90.4411 139.454 90.4935 187.85 90.5513C211.331 90.5793 231.093 88.3531 238 90.4411" stroke="url(#paint0_linear_519_7005)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_519_7005" x1="203.5" y1="93" x2="47.1249" y2="88.5812" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Красота и забота о себе',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 98C86.5187 85.3985 131.532 43.5385 131.532 43.5385C131.532 43.5385 144.768 54.0743 141.143 63.6755C137.518 73.2766 130.562 75.3105 125.125 68.7098C119.688 62.109 131.074 46.2844 131.074 46.2844C131.074 46.2844 181.368 22.3908 185.597 36.7926C189.826 51.1944 169.89 62.3025 154.786 62.3025C139.683 62.3025 134.7 9.86516 115.972 3.26436C97.2433 -3.33644 88.9352 17.5903 97.3932 27.1914C105.851 36.7926 134.246 39.1929 128.808 45.1936C123.371 51.1943 104.039 61.9957 101.622 55.3949C99.2056 48.7941 100.118 46.058 101.622 40.393C106.992 20.1647 149.953 41.5932 154.786 31.392C159.619 21.1907 151.766 19.3905 143.912 21.1907C136.058 22.9909 143.912 31.392 143.912 31.392C143.912 31.392 174.119 5.58882 168.077 2.58846" stroke="url(#paint0_linear_517_6982)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_517_6982" x1="154.5" y1="98.0001" x2="66.5002" y2="97.8652" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Досуг и развлечения',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M51 53.763C57.8565 63.8192 82.5398 50.5633 83.9111 53.763C85.2824 56.9627 81.6256 90.3309 81.6256 92.6164C81.6256 94.9019 124.136 93.5308 125.05 92.6164C125.964 91.702 125.05 77.5322 125.05 77.5322C125.05 77.5322 136.02 81.1889 136.02 72.047C136.02 62.905 125.05 65.6476 125.05 65.6476C125.05 65.6476 125.05 51.9346 124.136 50.5633C123.222 49.192 111.337 50.5633 111.337 50.5633C111.337 50.5633 115.451 61.5337 106.766 61.5337C98.0811 61.5337 100.367 50.5633 100.367 50.5633C100.367 50.5633 82.0827 51.4773 81.6256 50.5633C81.1685 49.6494 81.1685 8.5105 81.6256 7.59609C82.0827 6.68169 124.136 4.8535 125.05 6.2248C125.964 7.59609 125.964 21.309 125.964 21.309C125.964 21.309 114.537 14.4526 114.08 24.9658C113.622 35.4791 125.05 32.2794 125.05 32.2794C125.05 32.2794 125.05 46.9068 125.05 48.2779C125.05 49.6489 140.591 50.5633 140.591 50.5633C140.591 50.5633 137.392 39.1359 145.619 39.1359C153.847 39.1359 151.105 49.192 151.105 49.192C151.105 49.192 169.388 47.3637 169.388 49.192C169.388 51.0204 171.217 97.1874 169.388 97.1874C167.56 97.1874 78.883 99.0158 77.5117 97.1874C76.1404 95.359 73.8549 5.3106 75.6833 3.9393C77.5117 2.56801 168.017 1.19671 169.388 2.56801C170.76 3.9393 173.045 50.1062 173.959 51.9346C174.874 53.763 188.13 51.9346 189.958 56.9627" stroke="url(#paint0_linear_521_7024)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7024" x1="171.5" y1="98" x2="75.5001" y2="97.9267" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Образование',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38 7.43396C71.0566 17.3962 103.208 -1.16981 119.057 7.43396C134.906 16.0377 139.434 28.2642 139.434 28.2642L106.377 74.9057L63.8113 57.6981L107.283 2L77.3962 45.4717C93.2453 50.9057 107.736 65.3962 107.283 67.6604C107.283 68.566 87.8113 50.14 73.7736 49.5472C72.4151 50.4528 70.1509 54.0755 69.6981 54.9811C69.2453 55.8868 103.208 65.3962 111.811 73.0943L141.698 31.8868C141.698 31.8868 169.321 26.4528 186.981 35.5094C177.019 45.4717 154.83 81.6981 154.83 82.1509C154.83 82.6038 157.547 82.6038 157.547 82.6038C157.571 80.4958 187.652 36.4994 186.981 40.9434C186.31 45.3874 187.774 52.9503 189.245 52.717C190.717 52.4836 163.434 95.283 162.528 95.283C161.623 95.283 158.453 92.1132 158.453 92.1132C158.453 92.1132 172.943 71.7359 171.585 71.7359C170.226 71.7359 156.642 89.8491 154.83 89.8491C153.019 89.8491 121.321 78.0755 120.415 78.5283C119.509 78.9811 160.717 96.1887 160.264 97.0943C159.811 98 120.415 81.2453 110.453 77.1698C124.038 70.3774 175.208 94.3774 202.377 98" stroke="url(#paint0_linear_521_7028)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7028" x1="175" y1="91" x2="65.0152" y2="87.5199" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Мода и стиль',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 42C20.5 48 52 45.5 66 44C80 42.5 90.5 40 102 39.5C113.5 39 124 45 123.5 46.5C123 48 93 51.5 91.5 59C90 66.5 95 68.5 98.5 72.5C102 76.5 99.5 83 112.5 85.5C125.5 88 133 83.5 148 84C163 84.5 167 93.5 185.5 93.5C204 93.5 217 81 221.5 72.5C226 64 225 56.5 221.5 52.5C218 48.5 186.5 45 184.5 45C182.5 45 174.5 54 157.5 53.5C140.5 53 129.845 54 126.5 48C123.155 42 128.5 35 131 25C133.5 15 140.5 7 156.5 7C172.5 7 179.5 19 181 25.5C182.5 32 181.5 41.5 181.5 41.5C181.5 41.5 178 48.1348 163.5 49.5C149 50.8652 130 49.5 130 45" stroke="url(#paint0_linear_521_7032)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7032" x1="176.5" y1="94" x2="82.0135" y2="92.8701" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Товары и услуги для бизнеса',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30 96.4571C39.7378 99.3784 165.843 97.4309 168.277 96.4571C170.712 95.4833 168.277 21.4757 167.304 20.015C166.33 18.5543 79.1761 19.5281 77.7154 20.015C76.2548 20.5019 76.2548 58.9664 76.7416 60.4271C77.2285 61.8877 104.008 61.8877 104.494 62.3746C104.981 62.8615 105.468 73.0863 99.6256 73.0863C93.7829 73.0863 95.2435 64.8091 95.2435 64.8091C95.2435 64.8091 93.7829 58.9664 95.2435 58.9664C96.7042 58.9664 103.034 59.4533 104.494 59.9402C105.955 60.4271 106.929 61.8877 106.442 63.3484C105.955 64.8091 140.038 62.3746 140.525 63.3484C141.011 64.3222 141.011 73.0863 146.854 73.0863C152.697 73.0863 150.262 63.3484 150.262 63.3484C150.262 63.3484 153.184 63.3484 153.671 63.3484C154.157 63.3484 154.157 59.9402 153.671 58.9664C153.184 57.9926 141.498 58.9664 141.011 59.4533C140.525 59.9402 140.525 63.3484 141.498 63.3484C142.472 63.3484 166.817 63.3484 168.764 62.3746C170.712 61.4008 169.251 19.0412 168.764 18.0674C168.277 17.0937 135.169 16.6068 134.682 16.1199C134.195 15.633 135.169 6.38203 122.51 6.38203C109.85 6.38203 110.824 15.5863 109.85 16.1199C108.877 16.6535 106.442 17.0937 105.955 16.1199C105.468 15.1461 106.442 2 122.51 2C138.577 2 138.577 15.1461 138.577 16.1199C138.577 17.0937 125.431 16.1199 122.023 16.1199C118.614 16.1199 77.7154 15.1461 75.7679 18.0674C73.8203 20.9888 72.8465 94.0226 73.8203 94.9964C74.7941 95.9702 177.041 90.6144 210.15 94.0226" stroke="url(#paint0_linear_521_7036)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7036" x1="168.5" y1="98" x2="73.5011" y2="97.6789" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Здоровье',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 28.0741C35.5 28.0741 50.3235 52.3704 65.4118 52.3704C80.5 52.3704 140.225 52.3704 143.113 52.3704C146 52.3704 150.52 66.6852 152.01 66.5926C153.5 66.5 154.975 38.1481 157.941 38.1481C160.907 38.1481 159.314 52.3704 160.907 52.3704C162.5 52.3704 165.676 25.9074 166.838 25.7037C168 25.5 169.98 64.2222 170.99 64.2222C172 64.2222 174.471 38.1481 175.735 38.1481C177 38.1481 177.5 52.3704 179.294 52.3704C181.088 52.3704 193.99 52.3704 196.495 52.3704C199 52.3704 205.5 39.5 205.392 28.0741C205.284 16.6481 198 2 179.294 2C160.588 2 154 20 152.01 19.1852C150.02 18.3704 142 2 122.946 2C103.892 2 98.7549 15.1481 98.6275 28.0741C98.5 41 101.922 51.4444 108.711 64.2222C115.5 77 143.113 97.5 152.01 98C160.907 98.5 197.495 56.2963 197.495 56.2963C197.495 56.2963 218.5 56 223 54.2963" stroke="url(#paint0_linear_521_7026)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7026" x1="193.5" y1="98" x2="79.0114" y2="96.8577" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Продукты и товары',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38 97.9908C38 97.9908 89.3548 96.7872 95.7742 97.1884C102.194 97.5896 105.403 83.9485 94.9718 84.3497C84.5403 84.7509 86.9476 97.5896 96.1754 97.1884C105.403 96.7872 105.002 81.14 88.1512 79.9364C71.3004 78.7327 149.135 82.3436 152.345 79.9364C155.956 72.3134 139.105 67.9001 137.099 63.0856C131.482 62.2831 83.3367 61.8821 82.1331 59.4747C80.9294 57.0672 77.7198 30.1864 78.9234 28.9827C79.6714 28.2348 114.597 26.4391 141.111 23.366C157.263 21.4939 170.041 17.9551 170.8 17.3476C172.806 15.743 168.393 13.3357 170.8 10.5271C173.208 7.71843 182.837 8.52122 186.448 6.51499C190.058 4.50876 189.256 -0.305577 180.028 3.30531C170.8 6.9162 154.752 50.247 155.153 50.6482C155.554 51.0495 163.013 33.8328 161.974 33.8985C150.428 34.6283 80.462 39.0792 79.7258 39.8156C78.9234 40.6182 80.5282 51.0491 81.3306 52.2529C82.1331 53.4567 153.95 51.4503 154.752 52.2529C155.554 53.0555 152.345 62.2829 151.141 63.0856C149.937 63.8882 131.482 62.6845 130.278 61.4807C129.075 60.2769 141.512 25.372 139.907 24.1682C138.302 22.9644 107.008 26.5753 104.601 27.7791C102.194 28.9829 102.595 58.6722 103.798 60.6783C105.002 62.6843 119.847 61.0793 124.26 63.0856C128.673 65.0918 133.488 79.5351 135.093 79.9364C136.698 80.3376 145.123 79.9364 145.123 79.9364C145.123 79.9364 139.506 97.5896 149.536 97.9908C159.567 98.392 159.567 84.7509 149.536 85.1521C139.506 85.5533 139.105 98.392 151.141 97.9908C163.177 97.5896 202.496 97.9908 202.496 97.9908" stroke="url(#paint0_linear_521_7030)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7030" x1="170.96" y1="98" x2="76.4249" y2="96.4664" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Дом и ремонт',
        svg: `<svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33 8.51571C57.0741 12.4471 87.8667 5.14593 90.1061 7.39245C92.3456 9.63897 92.3456 11.3241 92.3456 12.4471C92.3456 13.5701 94.585 18.6251 97.3844 16.3785C100.184 14.132 97.3844 9.63897 96.2646 11.3239C95.1449 13.0088 92.9054 15.2555 93.4653 18.0634C94.0252 20.8713 115.86 58.5011 118.659 61.8706C121.459 65.2402 125.937 69.7337 129.297 69.1718C132.656 68.61 138.254 66.3634 138.254 64.6788C138.254 62.9941 93.4653 -3.2786 87.3068 2.3377C81.1483 7.95401 130.976 70.2953 130.416 70.8567C129.856 71.4181 125.937 72.5418 125.937 74.2265C125.937 75.9111 127.617 78.1581 129.297 78.1579C130.976 78.1576 139.374 69.1718 142.733 69.1718C146.093 69.1718 147.772 72.5411 148.892 75.3495C150.012 78.1579 147.212 81.5274 147.772 86.5823C148.332 91.6372 158.41 97.8147 154.49 97.8147C150.571 97.8147 140.494 95.5684 136.575 94.4452C132.656 93.322 127.617 86.0207 128.177 81.5277C128.737 77.0347 137.135 66.9248 139.374 65.8018C141.614 64.6788 153.371 70.2949 156.17 75.3495C158.969 80.4041 157.85 96.6913 158.41 97.8147C158.969 98.9382 190.322 94.4452 207.118 97.8147" stroke="url(#paint0_linear_521_7034)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_521_7034" x1="174" y1="98" x2="77.0231" y2="96.5032" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      }
    ]
  -
    servicesSlides = [
      {
        title: 'Разработка веб-сервисов и мобильных приложений',
        description: 'Мы самостоятельно целиком решаем сложные технические задачи: высоконагруженные отказоустойчивые порталы, мобильные приложения, интеграция с бэк-системами заказчика. Можем интегрировать сайт или мобильное приложение практически с любым решением на рынке.',
        svg: `<svg width="430" height="280" viewBox="0 0 430 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5 173C9.50737 169.897 27.5 173 33 170.5C38.5 168 44 161 51.5 155.5C59 150 53.5 136.5 49.5 144C45.5 151.5 58.5 147.5 64 145C69.5 142.5 85.125 139.5 85.5 136.5C85.875 133.5 82 133.5 82 135C82 136.5 86 140.5 91.5 140.5C97 140.5 97 138 103 138C109 138 123 141.5 134 141C145 140.5 165 138 177 139.5C189 141 203.5 147.5 211.5 148C219.5 148.5 222 148.5 229 147C236 145.5 237 136.5 237 136.5C236.264 129.326 233.263 128.209 225 129.5C221.714 130.749 220.188 131.829 218.5 135C219.357 138.796 219.52 140.469 219.5 143C224.34 145.174 235 144.5 237 142.5C239 140.5 241 138 239.5 132.5C238 127 227 124 227 124C227 124 197.5 117.5 190 116C182.5 114.5 170 110 164 109C158 108 153.5 102 154.5 101.5C155.5 101 171.5 114.5 173.5 114C175.5 113.5 171.5 108 170.5 104.5C169.5 101 170.5 96.5001 172 96.0001C173.5 95.5001 176.5 96.5001 179.5 96.5001C182.5 96.5001 180.5 94.5001 182.5 93.5001C184.5 92.5001 189 94.0001 195.5 96.0001C202 98.0001 204 107.5 206 111C208 114.5 217 122.5 214 124C211 125.5 197 121.5 194.5 119.5C192 117.5 188.5 113 190.5 110C192.5 107 194.5 108 193 111C191.5 114 188 114 183.5 113C179 112 174.5 110 174.5 106C174.5 102 180 98.0001 186.5 96.5001C193 95.0001 203 100 207 99.0001C211 98.0001 211.5 98.5001 214.5 95.5001C217.5 92.5 211.5 90.0001 210.5 93.5001C209.5 97.0001 211 100.5 214 102C217 103.5 226 109.5 229.5 112.5C233 115.5 231.5 110 236.5 109.5C241.5 109 245.5 117 247.5 114.5C249.5 112 242.5 105.5 238.5 100.5C234.5 95.5001 219 79.5001 213.5 76.0001C208 72.5001 198 74.5001 196 75.5001C194 76.5001 188 83.5001 191 82.5001C194 81.5001 191.776 77.3077 193 75.0001C194.633 71.9209 197.5 72 197.5 72C197.5 72 209.5 70.5001 213 69.5001C216.5 68.5001 224 67.0001 226 62.5001C228 58.0001 221.5 56.5001 219.5 61.0001C217.5 65.5001 218 67.5001 221 71.0001C224 74.5001 237.5 76.5001 242 76.5001C246.5 76.5001 249 75.5001 250.5 75.5001C252 75.5001 255.5 77.5001 256.5 76.0001C257.5 74.5001 255 72.5001 250.5 72.5001C246 72.5001 240.5 76.5001 241 82.0001C241.5 87.5001 245.5 96.5001 249 100C252.5 103.5 259 77 259.5 72C260 67 256 65.0001 251.5 62.0001C247 59.0001 231 50.0001 225 49.0001C219 48.0001 215 48.0001 211.5 51.0001C208 54.0001 203.5 57.5001 200.5 60.0001C197.5 62.5001 194.5 64.0001 193 66.5001C191.5 69.0001 192.5 74.5001 188.5 78.5001C184.5 82.5001 177 88.5001 175.5 87.5001C174 86.5001 175.5 82.0001 180.5 79.0001C185.5 76.0001 194 69.0001 195.5 66.5001C197 64.0001 196.5 58.5001 195.5 58.0001C194.5 57.5001 192 58.5001 193 60.0001C194 61.5001 199 63.0001 202.5 61.0001C206 59.0001 216.5 47.5001 218.5 45.0001C220.5 42.5001 221 39.5001 219.5 38.0001C218 36.5001 217 38.5001 217.5 40.5001C218 42.5001 220 42.5001 223 41.5001C226 40.5001 238 32 245.5 28.5C253 25 258.5 24.0001 261 20.0001C263.5 16 263 11.0001 262 9.50006C261 8.00005 258.5 7.5 255.5 8C252.5 8.5 253.5 12 255 12C256.5 12 259.84 11.9624 260 10C260.16 8.03757 247 10.35 241.5 12C236 13.65 207.5 28 199.5 32.0001C191.5 36.0001 170.5 49.5001 159 54.0001C147.5 58.5 137 60.5 128 64.5C119 68.5 102 73 89 81.5C76 90 71.5 99 73.5 100.5C74.6997 101.4 77.434 96.7222 84.5 91C89.2134 87.183 97.7985 82.9012 102 79.5C112.5 71 121.5 71.5001 129 69.0001C136.5 66.5 139 63.5001 143 62C147 60.4999 151 59.5 153.5 59C156 58.5 157.5 57 158 55.5" vector-effect='non-scaling-stroke' stroke="url(#paint0_linear_347_314)" stroke-width="2" stroke-linecap="round"/>
                <path d="M427 272C427 272 415.5 268.5 411 268.5C406.5 268.5 403.5 272.5 398 272.5C392.5 272.5 388 269 386 268.5C384 268 382 264.5 387 266.5C392 268.5 389.5 272.5 387 273.5C384.5 274.5 376.5 277 373 275C369.5 273 372.5 267.5 371.5 260C370.5 252.5 366.5 250 362.5 249.5C358.5 249 347 249 335 252.5C323 256 326.5 257 336 256C345.5 255 370 247.5 372 245.5C373.04 244.46 373.587 227.487 376 209.5C378.229 192.885 382.44 175.443 381 168C379.385 159.656 372.126 146.552 367.5 133C363.533 121.378 362 112.5 362 108.5C362 104.5 365 94 364.5 90C364 86 361.5 86 359.5 88.5C357.5 91 357.5 95 357.5 98.5C357.5 102 358.5 103 360.5 104C362.5 105 366 99 366 92.5C366 86 363 85 360 85C357 85 354.5 88.5 350.5 92C346.5 95.5 342.5 100 341 106.5C339.5 113 339.5 119 340 122C340.5 125 342.5 128 345 126C347.5 124 346.5 122.5 344 123.5C341.5 124.5 341.5 129.5 342.5 134C343.5 138.5 343.5 153.5 345 159.5C346.5 165.5 357.5 171 357.5 171C359.5 172 368 175.5 369 174C370 172.5 366 170 357.5 169C349 168 347.5 163 344 165C340.5 167 336.5 173.5 336.5 173.5C336.5 173.5 330 186 329 191.5C328 197 329 199 334 190C339 181 343 174 335.5 181.5C328 189 330 210 318.5 220.5C312.294 226.167 288.175 221.394 266.5 217.5C248.012 214.179 231.302 212.675 229 206C224 191.5 239 159 240 151C241.529 138.767 229.086 148.16 227 154C224.5 161 228.5 170.5 231.5 170C234.5 169.5 247 123 247 119C247 115 246.5 112 243 110C239.5 108 237.387 107.646 234 109C229.641 110.743 230 119.5 231 122C233.511 128.276 237 124.5 240 131C243 137.5 240 143.5 239 143C238.48 142.74 240.782 136.942 243 130C245.045 123.599 246 121.5 247 116C248 110.5 267 37.5 270 31C273 24.5 281.5 25 283.5 25C285.5 25 341 28.5 351 29C361 29.5 357.5 40 357 44C356.5 48 348.5 83 348 87C347.5 91 346.5 93 347 93.5C347.5 94 351.5 89 353.5 87C355.5 85 358.5 61 361 53C363.5 45 362.5 39.5 361.5 36.5C360.5 33.5 355 30.5 352.5 30.5C350 30.5 324.5 32 314.5 31C304.5 30 290.5 27 281.5 28.5C272.5 30 271 39.5 269.5 45.5C268 51.5 264.5 70.5 261.5 82C258.5 93.5 237.5 177.5 235 189C232.5 200.5 236 202.5 240 205C244 207.5 286 211.5 296.5 213.5C307 215.5 314 214 317.5 208.5C321 203 348.5 70.5 349 67.5C349.5 64.5 353.5 42.5 353.5 39.5C353.5 36.5 352 34.5 349 34.5C346 34.5 339.5 32.5 339.5 32.5C339.5 32.5 350 33 353 33.5C356 34 357 37.5 357 37.5" vector-effect='non-scaling-stroke' stroke="url(#paint1_linear_347_314)" stroke-width="2" stroke-linecap="round"/>
                <path d="M259 216C259 216 262.5 227 267.5 233.5C272.5 240 276 242 279 246C282 250 286.5 256.5 289 261.5C291.5 266.5 291 270.5 293 272.5C295 274.5 296 263.5 299 261.5C302 259.5 318 258 307.5 256C297 254 295.5 255.5 295 258.5C294.5 261.5 297.5 265 300.5 267.5C303.5 270 308 273 313.5 273C319 273 319.5 268.5 314.5 270C309.5 271.5 302 274 295 273" vector-effect='non-scaling-stroke' stroke="url(#paint2_linear_347_314)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_347_314" x1="429" y1="279" x2="1.00047" y2="278.553" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                <linearGradient id="paint1_linear_347_314" x1="429" y1="279" x2="1.00189" y2="278.101" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                <linearGradient id="paint2_linear_347_314" x1="429" y1="279" x2="1.00113" y2="278.306" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Поддержка и развитие',
        description: 'Наши клиенты — это компании с повышенными требованиями к стабильности. Понимаем, что каждая минута простоя — это финансовые и репутационные потери. Мы выдвигаем гипотезы того, что можно улучшить на проекте и тестируем их, чтобы добиться максимального эффекта. Можем перехватить ваш продукт у команды которая не справляется с установленными задачами или не выдерживает SLA.',
        svg: `<svg width="430" height="280" viewBox="0 0 430 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M49 247C49 247 51 238.5 70.5 238.5C90 238.5 101.5 253.5 118.5 253C135.5 252.5 142 240 161 240.5C180 241 206 248 207.5 247C209 246 205 218.5 207.5 217.5C210 216.5 236.5 217.5 246 215.5C255.5 213.5 252 165 249 163C246 161 206.5 162 199.5 152C192.5 142 193 127.5 193 117.5C193 107.5 194 88 192 83.5C190 79 172 90 174 102.5C176 115 185 123 187.5 121.5C190 120 188.5 111 188.5 96.5C188.5 82 191.5 74.5 197.5 68.5C203.5 62.5 212 59 221.5 58C231 57 238 56.5 255 56C272 55.5 303.5 60 310.5 66.5C317.5 73 316.5 94 316 102C315.5 110 314 120 319 122.5C324 125 335 118 335 104.5C335 91 321.5 83.5 319 88C316.5 92.5 319 121.5 317.5 130.5C316 139.5 313 138.5 309.5 139C306 139.5 295.5 138 293 140C290.5 142 292.5 144.5 290.5 147C288.5 149.5 282.5 150 274.5 150C266.5 150 261.5 148.5 261 145.5C260.5 142.5 262.5 140 265 138C267.5 136 271 136.5 272 136.5C273 136.5 282 136.5 284 136.5C286 136.5 288.5 137 288.5 138.5C288.5 140 288 143.5 288.5 144.5C289 145.5 316 145 320 145C324 145 329.5 142.5 330 137.5C330.5 132.5 331 121 330 121C329 121 328 134.5 324.5 137.5C321 140.5 316 139.5 315 140.5C314 141.5 311.5 153 302.5 156.5C293.5 160 283 158 281 158.5C279 159 261 178.5 258 177.5C255 176.5 257 162 253.5 160C250 158 208.5 157 202.5 148.5C196.5 140 196.5 113 196.5 113C196.5 113 195.5 92 197.5 90.5C199.5 89 214.5 89 221.5 92C228.5 95 225.5 116.5 223 118C220.5 119.5 216 116.5 215.5 111C215 105.5 215 96.5 217 93.5C219 90.5 288 91.5 293 93C298 94.5 298.5 115 293 116.5C287.5 118 287.5 98 290 95.5C292.5 93 309 96.5 313 94C317 91.5 310 69.5 305.5 61C301 52.5 292.5 44.5 283 40.5C273.5 36.5 266 36 253.5 36C241 36 228.5 39.5 218.5 46C208.5 52.5 196 77.5 194.5 78.5C193 79.5 185.5 78.5 182.5 81C179.5 83.5 178 87 177 86C176 85 180 72 185.5 62C191 52 201.5 41.5 213 34.5C224.5 27.5 237 24 254 23C271 22 283 25.5 298 34C313 42.5 324 59.5 326.5 66.5C329 73.5 329 82.5 327.5 83C326 83.5 310.5 82 309.5 84C308.5 86 313 127 310.5 130.5C308 134 284 133.5 276.5 133.5C269 133.5 254 134.5 248 132C242 129.5 238.5 120 240 117.5C241.5 115 258.5 116 264 116C269.5 116 267.5 122 265 125C262.5 128 260 130.5 255.5 130.5C251 130.5 126.5 132.5 121 133C115.5 133.5 115 138.5 114 142.5C113 146.5 111.5 164 111.5 171C111.5 178 113 203.5 113.5 207.5C114 211.5 115 214 117 216C119 218 176.5 213.5 181 215.5C185.5 217.5 200 242.5 201 241C202 239.5 199.5 216.5 203 213.5C206.5 210.5 240 213.5 244 210C248 206.5 246.5 171 245 169.5C243.5 168 194 167 192 168.5C190 170 190.5 181 192 182C193.5 183 200.5 183.5 201.5 182.5C202.5 181.5 203 173.5 201.5 171.5C200 169.5 178 167.5 176 168.5C174 169.5 174.5 180 176 182C177.5 184 184.5 183.5 185.5 182C186.5 180.5 185.5 172.5 184 171.5C182.5 170.5 163.5 168 162 169.5C160.5 171 160.5 180.5 162 182C163.5 183.5 168.5 183 169.5 182C170.5 181 170.5 174 169 172.5C167.5 171 118.5 170 116.5 172C114.5 174 117 208 120 210.5C123 213 178.5 209.5 182.5 211.5C186.5 213.5 203.5 248 217 248C230.5 248 226 231 237.5 227C249 223 279 252 300.5 252.5C322 253 351.5 213 357.5 207.5C363.5 202 381.5 209.5 381.5 209.5" vector-effect='non-scaling-stroke' stroke="url(#paint0_linear_347_315)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_347_315" x1="429" y1="279" x2="1.00614" y2="277.379" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Диджитал маркетинг',
        description: 'Комплексная поддержка вашего бренда в интернете. Комплексное управление репутацией, построение стратегии продвижения в социальных сетях и ее реализация, поисковое продвижение, контекстная реклама. Используем СМС рассылки, Whatsapp воронки, ведем Instagram аккаунты с гарантированным результатом. Являемся сертифицированным партнером Яндекс. Умеем интегрировать и настраивать системы лояльности на базе 1С и других систем учета для бизнеса.',
        svg: `<svg width="480" height="280" viewBox="0 0 480 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 236C4.5 236 57.5 238 72 236.5C86.5 235 94 230.5 110 229.5C126 228.5 134.5 232.6 142.5 227C150.5 221.4 160 218.5 166 213C176.435 203.434 170 196 171.5 190C172.585 185.658 181 185.5 188 185.5C195 185.5 203.233 185.966 204 187.5C204.839 189.178 193.5 191.5 189.5 192C185.5 192.5 176.342 197.505 175.5 197C173 195.5 173.5 186 170.5 180.5C167.5 175 165.5 172.5 163 170.5C160.5 168.5 158.5 168.5 159 172.5C159.5 176.5 162 177.5 164 176.5C166 175.5 164 169.5 160 169C156 168.5 155 171.5 155 171.5C155 171.5 153 175 155 178.5C155.714 179.749 160 186 163 186C166 186 166 183 163 183.5C160 184 159 187 159 189C159 191 163 201.5 163 206.5C163 211.5 156.5 215.5 156.5 215.5C152.704 217.776 152.5 216 155 214.5C157.5 213 160.5 210 161 206C161.5 202 159 196.5 157 192.5C155 188.5 147.5 173.5 144.5 171C141.5 168.5 137 170.5 139 173.5C141 176.5 145.5 177 146.5 176C147.5 175 144.5 170.5 141.5 169.5C138.5 168.5 136.5 170.5 136.5 170.5C136.5 170.5 135 172 135.5 175C136 178 140.5 184.5 142.5 187.5C144.5 190.5 147.5 206 149 208C150.5 210 152 208 150.5 205.5C149 203 147 204.5 145.5 206C144 207.5 138.5 214.5 136.5 215.5C134.5 216.5 133 215.5 135 214C137 212.5 139 211 141 208.5C143 206 144 202 143.5 198.5C143 195 140 187.5 137.5 183C135 178.5 132.5 173 131 171.5C129.5 170 126 170.5 126 172C126 173.5 127.5 174 130 175C132.5 176 130 170.5 128.5 170C127 169.5 123 169 123 174C123 179 129.5 186.5 129.5 186.5C129.5 186.5 131.5 189.5 134 189.5C136.5 189.5 137.5 188 134 187C130.5 186 129.5 187.5 129.5 190.5C129.5 193.5 131 201 134 203C137 205 137.5 201.5 135 200.5C132.5 199.5 130 197.5 127.5 200.5C125 203.5 123.5 206 123.5 210C123.5 214 125 214.5 125.5 210C126 205.5 126 203.5 122 203C118 202.5 114 205.5 108 206.5C102 207.5 86.5 203 86.5 199.5C86.5 196 115.5 200 119 200C122.5 200 126.5 197 126.5 192.5C126.5 188 122 187.5 118.5 187C115 186.5 80 183.5 68 183.5C56 183.5 52.5 182.5 53.5 177.5C54.5 172.5 60.5 167 62.5 166C64.5 165 155 164 159 163.5C165.805 162.649 162.05 158.541 157 159C151.5 159.5 138.5 162.843 139.5 165C140.5 167.157 217 163.5 219.5 164.5C222 165.5 235 175.5 236 177.5C237 179.5 235.5 181.5 233.5 182.5C231.5 183.5 177 185 174.5 183.5C172 182 171.5 179 172.5 177.5C173.5 176 227 179.5 228.5 177.5C230 175.5 220.5 169 217.5 168C214.5 167 109 169 107.5 168C106 167 81.5 161.5 80.5 159C79.5 156.5 99.5 117.5 102 115.5C104.5 113.5 111.5 108 115 103.5C118.5 99 129.5 79 134 74.5C138.5 70 175.5 58 181.5 56C187.5 54 222.5 32 225 32.5C227.5 33 231 43 230.5 44C230 44.9999 214 47 213 48C212 48.9999 215 68.4999 216 70C217 71.5 230.5 65.5 232 65.5C233.5 65.4999 308.5 83.4999 310 83.5C311.5 83.5 313 69 312 68C311 66.9999 276.5 59 275 59.5C273.5 60 271.5 69.9999 272 72C272.5 74 278.5 72.5006 279 74.5C279.5 76.4994 276 92 275 92.5C274 92.9999 230.5 83.5 229.5 82.5C228.5 81.5 232.5 65 234 64.5C235.5 64 268 62.9999 269 62C270 61 267.5 41 266 40.5C264.5 39.9999 212 49.5 211 50.5C210 51.4999 211.5 57.9999 211 59.5C210.5 61 191.5 70 189.5 70C187.5 70 179.5 53.9999 180 53C180.5 52 188 48.9999 188.5 48C189 47 185.5 38.5 183 37.5C180.5 36.4999 149 54 149 56C149 57.9999 154.5 68 156.5 68C158.5 68 175 60.9999 177 62C179 63 183 80.9999 183 82.5C183 84 127.5 99.5 126 99C124.5 98.4999 122.5 87.9999 123 86C123.5 84 132.5 70 132 68C131.5 66 114 58.5 112 59.5C110 60.4999 88 103.5 88 105.5C88 107.5 101.5 113 103 112C104.5 111 107.5 105.5 108.5 104.5C109.5 103.5 131 114.5 131.5 115.5C132 116.5 106.5 167 104.5 168C102.5 169 66.5 168.5 65 169C63.5 169.5 58.5 176.5 59 177.5C59.5 178.5 117.5 177.5 120.5 178C123.5 178.5 123.5 183 121 184C118.5 185 91.5 183 86 184C80.5 185 79.5 191.5 74 195.5C68.5 199.5 57 206.5 53 211.5C49 216.5 45.5 221.957 51.5 229.5C57.5 237.043 72 239.5 83 241.5C94 243.5 156 245 175.5 242.5C195 240 248.5 231.5 260.5 229.5C272.5 227.5 291.5 226 304 226C316.5 226 337.5 225 349.5 225.5C361.5 226 372.5 227 379.5 228C386.5 229 387 229 393.5 231C400 233 395.5 237 391 234C386.5 231 380 226.5 370 221C360 215.5 350 211 344.5 206C339 201 323 187.5 318.5 183C314 178.5 305.167 167.5 303.5 164C301.833 160.5 301.5 158.5 303.5 156C305.5 153.5 311 151.5 313.5 149.5C316 147.5 314 145.5 314.5 144.5C315 143.5 315.5 140 311.5 139C307.5 138 307 140.5 310 141.5C313 142.5 317 142.5 321 142.5C325 142.5 329 140.5 330 138.5C331 136.5 333.5 133.5 330 129.5C326.5 125.5 319.5 129 318 131.5C316.5 134 319.5 138 324 135C328.5 132 325.5 125.5 320 126C314.5 126.5 310.5 129 307.5 128.5C304.5 128 303.5 121.5 303.5 118C303.5 114.5 304.5 108.5 310.5 105.5C316.5 102.5 318 102.5 318.5 95C319 87.4999 307.5 83.9999 307.5 95C307.5 106 312 106.5 316.5 104.5C321 102.5 322 110 320 112C318 114 312.5 113.5 313 110C313.5 106.5 322 103.5 326 105C330 106.5 327.5 114 324.5 117C321.5 120 317.5 121.5 313.5 121C309.5 120.5 310 119 313.5 119C317 119 320 120 320 121.5C320 123 315 124.5 311.5 125.5C308 126.5 305 130 303.5 134C302 138 301.5 140 303 142.5C304.5 145 308 148.5 310.5 149C313 149.5 317 145 320 145.5C323 146 325.5 148 324 150C322.5 152 318 151.5 318 148.5C318 145.5 323 144.971 325 145.5C327 146.029 328.5 147 328.5 151C328.5 155 325.5 157.5 323.5 159.5C321.5 161.5 318 166 315 166.5C312 167 312 165.5 315 164C318 162.5 321 162.5 323 165C325 167.5 324.5 170.5 322 175C319.5 179.5 315 180 311.5 177C308 174 304 168 301.5 161.5C299 155 320 145.912 322 145.412C324 144.912 326.5 145 329.5 147.5C332.5 150 325.615 163.345 328 170.5C329.5 175 353.5 177.5 357.5 178C361.5 178.5 385 178 386.5 172.5C388 167 380.5 126.5 380.5 126.5C380.5 126.5 372.5 67 370.5 65C368.5 62.9999 346.5 60 343 60C339.5 59.9999 325.5 59 322 59C318.5 58.9999 315.5 61.5 315 64C314.5 66.4999 316 84.4999 316.5 85.5C317 86.5 320.5 90 320.5 93.5C320.5 96.9999 318.5 101 319 102C319.5 103 323 102 323 101C323 100 319 69.4999 319.5 68.5C320 67.5 368 71.4999 369 72C370 72.5 383 159.5 380.5 162C378 164.5 331 160.5 330.5 161C330 161.5 330 169 331 170C332 171 361.5 175 362.5 174.5C363.5 174 362.5 166 362.279 165C362.058 164 356 164 355 164.5C354 165 354 171 355 172C356 173 389.5 174.5 389.5 169C389.5 163.5 384.5 145.5 385 143.5C385.5 141.5 387.5 141 387.5 137.5C387.5 134 385 130 383.5 127C382 124 379 105 379 105C379 105 378 90.9999 381.5 90.5C385 90 391.5 102 388 103C384.5 104 382.5 93.5 384 92C384.608 91.392 387.591 99.0119 392.5 107.5C399.702 119.955 409.716 135.432 411.5 139C414.5 145 416 157 417.5 163C419 169 417 173.5 418.5 181C420 188.5 461.5 210 473 214" vector-effect='non-scaling-stroke' stroke="url(#paint0_linear_347_317)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_347_317" x1="477.667" y1="245.218" x2="4.62839" y2="235.942" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      }
    ]
  -
    workTiles = [
      {
        title: 'Аналитика',
        list: ['Сбор требований', 'Анализ технических решений', 'Разработка и утверждение технических документаций'],
        svg: `<svg width="200" height="120" viewBox="0 0 200 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85.7183 114.882C94.0775 122.155 107.893 114.575 107.15 113.453C106.407 112.332 81.4984 113.098 82.3844 110.12C83.2705 107.141 110.484 110.12 110.484 107.738C110.484 105.357 80.9556 107.738 80.9556 105.833C80.9556 103.928 110.96 103.928 110.96 102.023C110.96 100.118 80.0031 102.023 80.0031 100.118C80.0031 98.213 110.96 99.1655 110.96 96.7842C110.96 94.4029 78.9204 96.9208 80.0031 96.308C81.0858 95.6952 81.3527 92.3437 80.0031 91.5453C78.6535 90.747 108.103 91.5453 110.484 91.5453C112.865 91.5453 114.294 89.6403 114.77 87.7352C115.247 85.8301 114.77 79.6387 117.628 72.4947C120.486 65.3508 122.867 62.9695 126.201 55.8255C129.535 48.6815 130.963 46.7766 130.963 36.2987C130.963 25.8208 120.486 2.4839 95.7198 2.00764C70.9541 1.53137 60 23.4394 60 36.7749C60 50.9318 66.2759 61.205 73.3354 72.971C76.193 77.7337 75.7167 82.4963 76.193 83.9251C76.6692 85.3539 77.6218 86.7826 79.0506 87.7352C80.4794 88.6878 84.7657 89.164 89.0521 89.164C93.3385 89.164 96.6723 89.164 98.5774 87.7352C100.482 86.3064 101.435 84.8777 101.911 82.9726C102.388 81.0675 101.911 78.21 100.959 76.3049C100.006 74.3998 99.0537 72.971 95.7198 73.9235C92.386 74.8761 90.0046 74.3998 89.5284 72.4947C89.0521 70.5897 85.242 54.3967 83.8132 50.1104C82.3844 45.824 80.0031 37.2512 82.3844 38.68C84.7657 40.1088 92.386 46.3002 93.3385 53.9204C94.291 61.5407 91.9097 58.9568 90.9572 54.3967C90.0046 49.8367 89.0521 34.3936 94.7673 34.8699C100.482 35.3462 101.911 47.2527 100.482 54.3967C99.0537 61.5407 97.1486 58.6831 97.6249 53.9204C98.1011 49.1578 105.721 38.68 109.055 38.68C112.389 38.68 107.626 45.3477 106.674 49.1578C105.721 52.968 104.293 62.0169 102.864 67.2558C101.435 72.4947 98.1011 72.4947 96.1961 72.4947C94.291 72.4947 91.4334 71.066 91.9097 67.7321C92.386 64.3983 94.7673 63.4458 97.1486 64.8746C99.5299 66.3034 121.438 75.8286 139.536 74.8761" stroke="url(#paint0_linear_538_7057)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_538_7057" x1="140.328" y1="115.635" x2="59.994" y2="115.134" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Разработка',
        list: ['Разработка системы', 'Прототипирование', 'Нагрузочное тестирование'],
        svg: `<svg width="200" height="120" viewBox="0 0 200 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 44.012C14.8603 55.1398 21.8924 60.5102 48.5 65.012C52 65.6042 51.5 73.012 54 74.512C56.5 76.012 147.5 94.012 147.5 93.012C147.5 92.012 20 51.512 20 49.512C20 47.512 52.5 30.512 55.5 30.512C58.5 30.512 154.737 93.4384 155 94.012C155.263 94.5855 85.7911 16.4445 83.5 16.012C81.2089 15.5794 61.5 27.012 61.5 27.012C61.5 27.012 163.5 105.012 195.5 103.512" stroke="url(#paint0_linear_538_7058)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_538_7058" x1="197.398" y1="101.728" x2="5.05347" y2="97.9214" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Поддержка',
        list: ['Внедрение и обучение', 'Мониторинг системы', 'Внесение правок по требованию'],
        svg: `<svg width="200" height="120" viewBox="0 0 200 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M146.941 110.956C123.235 109.825 95.0127 97.9545 80.3374 88.3449C65.662 78.7353 26.7158 35.2095 75.8218 19.9472C124.928 4.68487 166.132 21.643 157.665 49.9065C149.199 78.17 102.35 81.5616 81.3773 80.9963C60.4043 80.4311 29.538 59.516 45.3422 30.122C61.1465 0.727995 139.039 5.81542 148.07 30.6873C157.101 55.5592 136.217 70.2562 119.848 73.6478C103.479 77.0395 85.4173 84.388 100.657 103.042C91.2752 102.594 80.302 105.157 68.4023 108.418" stroke="url(#paint0_linear_538_7059)" stroke-width="2"/>
                <defs>
                <linearGradient id="paint0_linear_538_7059" x1="159.948" y1="112.262" x2="-91.1013" y2="111.495" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
      {
        title: 'Маркетинг',
        list: ['Составление стратегии', 'Работа на результат', 'Рациональное использование бюджета'],
        svg: `<svg width="200" height="120" viewBox="0 0 200 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28 97.0183H13C13.5334 102.651 14.9521 104.533 20 105.018H174.145C178.181 105.109 181.5 103.018 181 97.5183C123.837 97.8224 112.5 98.5183 112.5 98.5183C112.5 98.5183 110.5 101.018 108.5 101.018C106.5 101.018 89.5 101.018 89.5 101.018C86.5102 100.94 85.5 98.0183 85.5 97.0183C85.5 96.0183 165.5 95.5183 166 95.0183C166.5 94.5183 167 21.0183 167 21.0183C166.991 14.988 165.152 13.8324 160 14.0183H36.5C31.0932 14.553 29.8675 16.3382 29.5 21.0183C29.5 21.0183 29.5 95.5183 30 96.0183C30.5 96.5183 76.5 97.0182 79.5 96.5183C82.5 96.0183 89 93.0182 93 92.0183C97 91.0183 158.5 92.0183 158.5 92.0183C161.704 91.9154 162.532 90.9966 162.5 88.0183V28.5183C162.336 22.3642 160.484 20.9606 155 21.0183H40C36.2659 21.0983 34.6945 21.6961 34.5 25.5183V86.5183C34.5394 90.5809 35.3569 91.8584 38.5 92.0183C38.5 92.0183 71 93.0183 82.5 91.0183C87.3681 90.1717 103.537 88.8503 112 83.5183C123.529 76.2545 128.748 64.1318 125 59.5183C118.5 51.5182 103.5 42.0183 84.5 50.5183C65.5 59.0183 76 66.0182 86.5 64.5183C97 63.0183 132 39.0183 107 28.5183C82 18.0183 64 41.0183 63 57.5183C62 74.0183 76 75.5182 91.5 73.5183C107 71.5183 122 69.0183 136.5 52.0183C151 35.0183 155 17.0183 187.5 19.5183" stroke="url(#paint0_linear_538_7060)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                <linearGradient id="paint0_linear_538_7060" x1="189.238" y1="103.163" x2="13.0335" y2="100.092" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC2F4E"/>
                <stop offset="1" stop-color="#840662"/>
                </linearGradient>
                </defs>
              </svg>`
      },
    ]
  -
    techTiles = ['laravel', 'symphony', 'python', 'angular', 'react', 'java', 'android', 'swift', 'ios', '1c', 'bitrix', 'wordpress']

block content
  section.hero
    .hero__inner
      svg.hero__logo(width='380', height='80', viewBox='0 0 380 80', fill='none', xmlns='http://www.w3.org/2000/svg')
        path.hero__logo-solid(d='M31.5297 64.3C33.5297 64.3 35.2297 64 36.6297 63.4C38.0964 62.7333 39.2964 61.6667 40.2297 60.2H55.0297C54.2964 62.9333 53.163 65.3 51.6297 67.3C50.163 69.3 48.363 70.9333 46.2297 72.2C44.163 73.4667 41.863 74.4 39.3297 75C36.7964 75.5333 34.1297 75.8 31.3297 75.8C22.7964 75.8 16.3297 73.4 11.9297 68.6C7.59635 63.8 5.42969 57.0667 5.42969 48.4C5.42969 44.4667 5.99635 40.8333 7.12969 37.5C8.32969 34.1667 9.99635 31.3 12.1297 28.9C14.263 26.4333 16.8964 24.5333 20.0297 23.2C23.2297 21.8667 26.863 21.2 30.9297 21.2C35.663 21.2 39.763 22.0333 43.2297 23.7C46.6964 25.3667 49.4297 27.6667 51.4297 30.6C53.4964 33.4667 54.863 36.8333 55.5297 40.7C56.263 44.5667 56.263 48.7 55.5297 53.1H19.5297C19.7964 56.2333 20.8964 58.9 22.8297 61.1C24.763 63.2333 27.663 64.3 31.5297 64.3ZM42.4297 43.4C42.4297 41.7333 42.1297 40.2667 41.5297 39C40.9297 37.6667 40.1297 36.6 39.1297 35.8C38.1297 34.9333 36.9297 34.3 35.5297 33.9C34.1964 33.5 32.7964 33.3 31.3297 33.3C27.7964 33.3667 25.0297 34.3333 23.0297 36.2C21.0964 38 19.963 40.4 19.6297 43.4H42.4297ZM97.5445 22.3H113.045L93.6445 75H75.9445L56.6445 22.3H72.2445L84.9445 61.4L97.5445 22.3ZM140.19 75.8C131.657 75.8 125.09 73.4 120.49 68.6C115.89 63.7333 113.59 57 113.59 48.4C113.59 44.2667 114.19 40.5333 115.39 37.2C116.657 33.8 118.39 30.9 120.59 28.5C122.857 26.1 125.623 24.3 128.89 23.1C132.223 21.8333 135.99 21.2 140.19 21.2C144.323 21.2 148.023 21.8333 151.29 23.1C154.623 24.3 157.423 26.1 159.69 28.5C162.023 30.9 163.79 33.8 164.99 37.2C166.257 40.5333 166.89 44.2667 166.89 48.4C166.89 57.0667 164.557 63.8 159.89 68.6C155.29 73.4 148.723 75.8 140.19 75.8ZM140.19 33.8C135.857 33.8 132.657 35.2 130.59 38C128.523 40.8 127.49 44.3 127.49 48.5C127.49 52.7667 128.523 56.3 130.59 59.1C132.657 61.9 135.857 63.3 140.19 63.3C144.523 63.3 147.69 61.9 149.69 59.1C151.69 56.3 152.69 52.7667 152.69 48.5C152.69 44.3 151.69 40.8 149.69 38C147.69 35.2 144.523 33.8 140.19 33.8ZM198.844 63.2C199.91 63.2 201.11 63 202.444 62.6C203.777 62.2 204.944 61.7 205.944 61.1L209.944 71.8C209.01 72.4 207.944 72.9667 206.744 73.5C205.61 73.9667 204.344 74.4 202.944 74.8C201.61 75.1333 200.344 75.3667 199.144 75.5C197.944 75.6333 196.844 75.7 195.844 75.7C192.644 75.7 189.81 75.2667 187.344 74.4C184.944 73.5333 182.944 72.2333 181.344 70.5C179.877 69.0333 178.777 67.1333 178.044 64.8C177.377 62.4667 177.044 59.8333 177.044 56.9V34.6H169.044V22.3H177.044V7.9H191.144V22.3H206.644V34.6H191.144V53.6C191.144 54.8 191.21 55.9667 191.344 57.1C191.544 58.1667 191.91 59.1667 192.444 60.1C193.044 61.0333 193.844 61.8 194.844 62.4C195.91 62.9333 197.244 63.2 198.844 63.2ZM236.815 64.3C238.815 64.3 240.515 64 241.915 63.4C243.382 62.7333 244.582 61.6667 245.515 60.2H260.315C259.582 62.9333 258.448 65.3 256.915 67.3C255.448 69.3 253.648 70.9333 251.515 72.2C249.448 73.4667 247.148 74.4 244.615 75C242.082 75.5333 239.415 75.8 236.615 75.8C228.082 75.8 221.615 73.4 217.215 68.6C212.882 63.8 210.715 57.0667 210.715 48.4C210.715 44.4667 211.282 40.8333 212.415 37.5C213.615 34.1667 215.282 31.3 217.415 28.9C219.548 26.4333 222.182 24.5333 225.315 23.2C228.515 21.8667 232.148 21.2 236.215 21.2C240.948 21.2 245.048 22.0333 248.515 23.7C251.982 25.3667 254.715 27.6667 256.715 30.6C258.782 33.4667 260.148 36.8333 260.815 40.7C261.548 44.5667 261.548 48.7 260.815 53.1H224.815C225.082 56.2333 226.182 58.9 228.115 61.1C230.048 63.2333 232.948 64.3 236.815 64.3ZM247.715 43.4C247.715 41.7333 247.415 40.2667 246.815 39C246.215 37.6667 245.415 36.6 244.415 35.8C243.415 34.9333 242.215 34.3 240.815 33.9C239.482 33.5 238.082 33.3 236.615 33.3C233.082 33.3667 230.315 34.3333 228.315 36.2C226.382 38 225.248 40.4 224.915 43.4H247.715ZM281.63 54.9V75H267.53V4.2H281.63V42.7H288.63L300.03 22.3H316.13L300.53 47.3L317.33 75H300.93L289.13 54.9H281.63ZM358.401 70.1C356.134 72.3 353.667 73.8 351.001 74.6C348.334 75.4 345.567 75.8 342.701 75.8C338.967 75.8 335.567 75.2333 332.501 74.1C329.501 72.9667 326.934 71.3 324.801 69.1C322.267 66.5 320.467 63.4333 319.401 59.9C318.334 56.3667 317.801 52.7667 317.801 49.1C317.801 40.5 320.067 33.7667 324.601 28.9C326.934 26.3 329.767 24.3667 333.101 23.1C336.434 21.8333 339.934 21.2 343.601 21.2C347.601 21.2 350.834 21.7667 353.301 22.9C355.834 24.0333 357.734 25.3667 359.001 26.9L359.801 22.3H372.601V75H359.101L358.401 70.1ZM345.301 63.3C347.367 63.3 349.201 62.9333 350.801 62.2C352.467 61.4 353.834 60.3333 354.901 59C356.034 57.6667 356.867 56.1333 357.401 54.4C358.001 52.6667 358.301 50.7667 358.301 48.7C358.301 44.3 357.134 40.7333 354.801 38C352.534 35.2667 349.334 33.8667 345.201 33.8C343.001 33.8 341.034 34.1667 339.301 34.9C337.634 35.6333 336.234 36.7 335.101 38.1C334.034 39.4333 333.234 41 332.701 42.8C332.167 44.5333 331.901 46.4333 331.901 48.5C331.901 50.7 332.167 52.7 332.701 54.5C333.301 56.2333 334.167 57.7667 335.301 59.1C336.434 60.4333 337.834 61.4667 339.501 62.2C341.167 62.9333 343.101 63.3 345.301 63.3Z', fill='url(#paint0_radial_427_12271)', fill-opacity='0.1')
        g.hero__logo-outline
          path(d='M20.0832 53.6H55.5297H55.9533L56.0229 53.1822C56.7644 48.7333 56.7666 44.5415 56.0217 40.611C55.3437 36.6819 53.952 33.2455 51.8391 30.3129C49.7858 27.3035 46.9832 24.9498 43.4463 23.2494C39.8983 21.5436 35.7211 20.7 30.9297 20.7C26.8083 20.7 23.1079 21.3758 19.8374 22.7385L19.8374 22.7385L19.8339 22.7399C16.6347 24.1013 13.9388 26.0447 11.7537 28.5704C9.57499 31.0221 7.87817 33.9447 6.65924 37.3307L6.65917 37.3306L6.6563 37.3391C5.50341 40.7299 4.92969 44.4183 4.92969 48.4C4.92969 57.1477 7.11749 64.0157 11.5585 68.9351L11.5611 68.9379C16.0829 73.8708 22.7021 76.3 31.3297 76.3C34.1615 76.3 36.8629 76.0303 39.4327 75.4893L39.4327 75.4894L39.4449 75.4866C42.0248 74.8755 44.3736 73.9236 46.4879 72.6282C48.6762 71.3284 50.5245 69.6514 52.0297 67.6C53.6059 65.5429 54.7649 63.1166 55.5126 60.3296L55.6815 59.7H55.0297H40.2297H39.9552L39.8079 59.9316C38.9233 61.3216 37.7969 62.3191 36.4277 62.9426C35.107 63.5076 33.4797 63.8 31.5297 63.8C27.7553 63.8 25.012 62.7616 23.2028 60.7672C21.4585 58.7812 20.4166 56.3981 20.0832 53.6ZM41.0737 39.2052L41.0736 39.2052L41.0778 39.2141C41.5815 40.2773 41.8658 41.503 41.9201 42.9H20.1988C20.5928 40.263 21.6557 38.1624 23.3704 36.566L23.3708 36.5655C25.256 34.8061 27.8897 33.8658 31.3344 33.8C32.7533 33.8004 34.1032 33.9941 35.386 34.3789L35.386 34.379L35.3923 34.3808C36.7293 34.7628 37.8627 35.3636 38.8022 36.1779L38.8097 36.1843L38.8173 36.1904C39.7472 36.9343 40.5016 37.9338 41.0737 39.2052Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
          path(d='M97.5445 21.8H97.1803L97.0686 22.1467L84.9427 59.7757L72.7201 22.1456L72.6078 21.8H72.2445H56.6445H55.9289L56.175 22.472L75.475 75.172L75.5952 75.5H75.9445H93.6445H93.9933L94.1137 75.1728L113.514 22.4727L113.761 21.8H113.045H97.5445Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
          path(d='M120.126 68.9435L120.129 68.946C124.848 73.8703 131.561 76.3 140.19 76.3C148.818 76.3 155.53 73.8708 160.249 68.9474C165.031 64.029 167.39 57.1563 167.39 48.4C167.39 44.2178 166.749 40.4249 165.459 37.028C164.238 33.5688 162.436 30.608 160.051 28.1541C157.728 25.6956 154.863 23.8558 151.465 22.6316C148.133 21.3405 144.372 20.7 140.19 20.7C135.941 20.7 132.113 21.3406 128.715 22.6316C125.381 23.8568 122.548 25.6981 120.226 28.1567L120.226 28.1567L120.221 28.1622C117.973 30.6148 116.208 33.572 114.921 37.0255L114.921 37.0255L114.919 37.0307C113.697 40.4265 113.09 44.2184 113.09 48.4C113.09 57.0901 115.416 63.9598 120.126 68.9435ZM130.992 38.2969C132.941 35.6559 135.972 34.3 140.19 34.3C144.408 34.3 147.401 35.6559 149.283 38.2906C151.21 40.9886 152.19 44.3808 152.19 48.5C152.19 52.6878 151.209 56.1127 149.283 58.8094C147.401 61.4441 144.408 62.8 140.19 62.8C135.972 62.8 132.941 61.4441 130.992 58.8031C129.002 56.107 127.99 52.6844 127.99 48.5C127.99 44.3842 129.001 40.9944 130.992 38.2969Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
          path(d='M206.412 60.9249L206.202 60.3622L205.687 60.6713C204.728 61.2463 203.601 61.7308 202.3 62.1211C201 62.5111 199.85 62.7 198.844 62.7C197.305 62.7 196.06 62.4447 195.085 61.9613C194.159 61.4027 193.424 60.6959 192.872 59.8406C192.372 58.9642 192.028 58.0263 191.839 57.0245C191.709 55.9169 191.644 54.7754 191.644 53.6V35.1H206.644H207.144V34.6V22.3V21.8H206.644H191.644V7.90002V7.40002H191.144H177.044H176.544V7.90002V21.8H169.044H168.544V22.3V34.6V35.1H169.044H176.544V56.9C176.544 59.8705 176.881 62.5512 177.563 64.9374L177.563 64.9374L177.567 64.9499C178.319 67.3427 179.454 69.3145 180.983 70.8465C182.641 72.6398 184.708 73.9799 187.174 74.8703L187.178 74.8718C189.709 75.7608 192.6 76.2 195.844 76.2C196.866 76.2 197.984 76.1319 199.199 75.997C200.424 75.8609 201.713 75.6231 203.065 75.2851L203.073 75.2831L203.081 75.2808C204.496 74.8766 205.781 74.4373 206.934 73.9624L206.934 73.9625L206.947 73.9569C208.166 73.4151 209.256 72.8366 210.214 72.2206L210.553 72.0026L210.412 71.6249L206.412 60.9249Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
          path(d='M225.368 53.6H260.815H261.238L261.308 53.1822C262.05 48.7333 262.052 44.5415 261.307 40.611C260.629 36.6819 259.237 33.2455 257.124 30.3129C255.071 27.3035 252.268 24.9498 248.731 23.2494C245.183 21.5436 241.006 20.7 236.215 20.7C232.093 20.7 228.393 21.3758 225.123 22.7385L225.123 22.7385L225.119 22.7399C221.92 24.1013 219.224 26.0447 217.039 28.5704C214.86 31.0221 213.163 33.9447 211.944 37.3307L211.944 37.3306L211.941 37.3391C210.789 40.7299 210.215 44.4183 210.215 48.4C210.215 57.1477 212.403 64.0157 216.844 68.9351L216.846 68.9379C221.368 73.8708 227.987 76.3 236.615 76.3C239.447 76.3 242.148 76.0303 244.718 75.4893L244.718 75.4894L244.73 75.4866C247.31 74.8755 249.659 73.9236 251.773 72.6282C253.961 71.3283 255.81 69.6514 257.315 67.6C258.891 65.5429 260.05 63.1166 260.798 60.3296L260.967 59.7H260.315H245.515H245.24L245.093 59.9316C244.208 61.3216 243.082 62.3191 241.713 62.9426C240.392 63.5076 238.765 63.8 236.815 63.8C233.04 63.8 230.297 62.7616 228.488 60.7672C226.744 58.7812 225.702 56.3981 225.368 53.6ZM246.359 39.2052L246.359 39.2052L246.363 39.2141C246.867 40.2773 247.151 41.503 247.205 42.9H225.484C225.878 40.263 226.941 38.1624 228.656 36.566L228.656 36.5655C230.541 34.8061 233.175 33.8658 236.62 33.8C238.038 33.8004 239.388 33.9941 240.671 34.3789L240.671 34.379L240.677 34.3808C242.014 34.7628 243.148 35.3636 244.087 36.1779L244.095 36.1843L244.102 36.1904C245.032 36.9343 245.787 37.9338 246.359 39.2052Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
          path(d='M282.13 42.2V4.20001V3.70001H281.63H267.53H267.03V4.20001V75V75.5H267.53H281.63H282.13V75V55.4H288.844L300.499 75.2532L300.644 75.5H300.93H317.33H318.218L317.757 74.7407L301.117 47.3037L316.554 22.5647L317.031 21.8H316.13H300.03H299.736L299.593 22.0561L288.336 42.2H282.13Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
          path(d='M332.324 74.5678L332.327 74.569C335.457 75.7255 338.917 76.3 342.701 76.3C345.615 76.3 348.43 75.8933 351.144 75.0789C353.62 74.3363 355.919 73.0117 358.041 71.1179L358.606 75.0707L358.667 75.5H359.101H372.601H373.101V75V22.3V21.8H372.601H359.801H359.38L359.308 22.2143L358.683 25.8108C357.395 24.5278 355.663 23.4091 353.507 22.4447C350.952 21.2711 347.64 20.7 343.601 20.7C339.875 20.7 336.315 21.3438 332.923 22.6326L333.101 23.1L332.923 22.6326C329.518 23.9264 326.619 25.9037 324.232 28.5626C319.591 33.5462 317.301 40.4138 317.301 49.1C317.301 52.816 317.841 56.4646 318.922 60.0445C320.012 63.6533 321.852 66.7905 324.443 69.449C326.629 71.7038 329.259 73.4098 332.324 74.5678ZM354.52 58.6762L354.515 58.6819L354.51 58.6877C353.495 59.9566 352.191 60.9773 350.589 61.7473C349.065 62.4447 347.306 62.8 345.301 62.8C343.156 62.8 341.294 62.4426 339.702 61.7424C338.102 61.0382 336.764 60.0495 335.682 58.7762C334.593 57.4951 333.758 56.0203 333.177 54.3471C332.662 52.6031 332.401 50.6555 332.401 48.5C332.401 46.4764 332.662 44.6266 333.179 42.9471L333.179 42.9471L333.18 42.9421C333.697 41.1984 334.468 39.6914 335.49 38.4136C336.572 37.0776 337.906 36.0605 339.499 35.3591C341.159 34.6572 343.056 34.3005 345.197 34.3C349.209 34.3656 352.259 35.7181 354.416 38.3192L354.416 38.3192L354.42 38.3246C356.66 40.9484 357.801 44.3913 357.801 48.7C357.801 50.718 357.508 52.5619 356.928 54.2365L356.925 54.2447L356.923 54.253C356.409 55.9238 355.608 57.3965 354.52 58.6762Z', vector-effect='non-scaling-stroke', stroke-width='1px', stroke='#060708')
        defs
          radialgradient#paint0_radial_427_12271(cx='0', cy='0', r='1', gradientUnits='userSpaceOnUse', gradientTransform='translate(190 74.9997) rotate(180) scale(177.822 3260.2)')
            stop(stop-color='#840662')
              animate(attributename='stop-color', values='#840662; #EC2F4E; #840662', dur='4s', repeatcount='indefinite')
            stop(offset='0.5', stop-color='#EC2F4E')
              animate(attributename='stop-color', values='#EC2F4E; #ffffff; #EC2F4E', dur='4s', repeatcount='indefinite')
            stop(offset='1', stop-color='white')
              animate(attributename='stop-color', values='#ffffff; #840662; #ffffff', dur='4s', repeatcount='indefinite')
      .hero__text
        span.hero__phrase.hero__phrase--1 Ваш IT-партнёр полного цикла, с собственной продуктовой аналитикой, дизайном, веб- и мобильной разработкой
        span.hero__phrase.hero__phrase--2 Говорим на языке бизнеса
        span.hero__phrase.hero__phrase--3 Ориентируемся на пользователя
        span.hero__phrase.hero__phrase--4 Предлагаем SLA с финансовой ответственностью
      button.hero__button.button.button--primary(data-hystmodal='#popup')
        .button__title Стать партнёром
  section.section.services#services
    .container
      .section__inner
        header.section__header
          h2.section__heading Разработка эффективных решений
          p.section__descr Готовая команда — профессиональный инструмент для вашего бизнеса
        .section__body
          .services__slider.swiper
            .services__slider-inner.swiper-wrapper
              each slide in servicesSlides
                .services__slider-slide.swiper-slide!= slide.svg
                  h3.services__title!= slide.title
                  .services__descr!= slide.description
            .services__slider-pagination.swiper-pagination
            .services__slider-prev.swiper-button-prev
              svg(width='40', height='40', viewBox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M23.3333 13.3334L16.6667 20L23.3333 26.6667', stroke='#060708', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .services__slider-next.swiper-button-next
              svg(width='40', height='40', viewBox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M16.6666 26.6667L23.3333 20L16.6666 13.3334', stroke='#060708', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
  section.section.work
    .container
      .section__inner
        header.section__header
          h2.section__heading Как мы работаем?
        .section__body
          .work__grid
            each tile in workTiles
              .work__tile!= tile.svg
                .work__title!= tile.title
                ul.work__list
                  each line in tile.list
                    li.work__line!= line
        footer.section__footer
          button.button.button--primary(data-hystmodal='#popup')
            .button__title Связаться с нами
  section.section.tech
    .container
      .section__inner
        header.section__header
          h2.section__heading Используем технологии
          p.section__descr Для реализации любой задачи главное выбрать правильную технологию. Хотите сами выбрать технологию? Мы и к этому готовы!
        .section__body
          .tech__grid
            each tile in techTiles
              .tech__tile
                img.tech__logo(src= src.assets + 'img__logo--' + tile + '.svg', alt= tile)
        footer.section__footer
          button.button.button--primary(data-hystmodal='#popup')
            .button__title Связаться с нами
  section.section.calculator#calculator
    .container
      .section__inner
        header.section__header
          h2.section__heading Калькулятор инвестиций в маркетинг
          p.section__descr Рассчитайте примерные затраты на маркетинг
        .section__body
          .calculator__image
            svg(width='1687', height='258', viewBox='0 0 1687 258', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M0.5 179C18 178.5 28.5351 222 51 221.5C73.4649 221 96 177.938 110.5 179C125 180.062 131 233.5 155 233.5C179 233.5 180 194 206 195C232 196 272 253 323 256C374 259 593 234.5 602 235C611 235.5 614 224.5 600 224.5C586 224.5 464.5 237 444.5 237C424.5 237 412 232 412 224.5C412 217 431 212.5 451.5 212.5C472 212.5 492 211.5 492 221.5C492 231.5 475.5 230 455 231.5C434.5 233 338.5 246 326.5 245C314.5 244 265.5 217.5 255.5 212C245.5 206.5 241 199 258.5 196C276 193 491 181.5 502 181.5C513 181.5 547 195.5 558 199C569 202.5 597.5 217.5 591 219C584.5 220.5 573 215.5 550.5 207C528 198.5 502 181.5 499 165.5C496 149.5 483 55.5 480.5 31.5C478 7.50003 472.5 5.00003 442.5 2.00003C412.5 -0.999973 268 4.50009 239.5 8.00003C211 11.5 214.5 13.5 215.5 27C216.5 40.5 231.5 147 236.5 166C241.5 185 245.5 188 258.5 187C271.5 186 466 175.5 475.5 174.5C485 173.5 488 169.5 487 156C486 142.5 469 53.5 467 40.5C465 27.5 460 21 439.5 20.5C419 20.0001 268 24.5 255.5 24.5C243 24.5001 234 24.5 234 44.5C234 64.5 247 153 247 153L252.5 169.5C252.5 169.5 306.5 38.5 314.5 40.5C322.5 42.5 290.5 143 303.5 148C316.5 153 369.5 51.5 381 53.5C392.5 55.5 349.5 136 359.5 144.5C369.5 153 409.5 65.0001 427.5 65C445.5 65 412 140 422.5 139.5C433 139 448.5 106.5 462 109C475.5 111.5 457 149.5 462 158.5C467 167.5 471.5 162.5 478 162.5C484.5 162.5 485 176.5 492 177.5C499 178.5 509.5 172.5 525 172.5C540.5 172.5 553 193.5 567 193.5C581 193.5 592.5 149.5 611 148C629.5 146.5 640 200.5 655 199C670 197.5 662.5 158.5 684 158.5C705.5 158.5 786.5 193.5 846.5 193.5C906.5 193.5 1080.5 128 1170 126.5C1259.5 125 1405.5 193.5 1492 193.5C1578.5 193.5 1686 171 1686 171', vector-effect='non-scaling-stroke', stroke='url(#paint0_linear_292_1543)', stroke-width='2')
              defs
                lineargradient#paint0_linear_292_1543(x1='1686', y1='256', x2='1.0792', y2='244.455', gradientUnits='userSpaceOnUse')
                  stop(stop-color='#EC2F4E')
                  stop(offset='1', stop-color='#840662')
          ul.calculator__list
            li.calculator__line На каких площадках именно вам выгоднее всего разместить рекламу?
            li.calculator__line Сколько потребуется инвестиций, чтобы бизнес стал рентабельным?
          .calculator__small Подобрать площадки и рассчитать бюджет можно прямо сейчас!
        footer.section__footer
          button.button.button--primary(data-hystmodal='#popup')
            .button__title Рассчитать
  section.section.directions
    .container
      .section__inner
        header.section__header
          h2.section__heading Будем полезны в любой нише
          p.section__descr Наработали IT-решения из более 20 сфер деятельности
        .section__body
          .directions__wrap
            .directions__scroll
              .directions__grid
                each tile in directions
                  button.directions__tile(data-hyst='#popup', data-cat!= tile.title)!= tile.svg
                    .directions__title!= tile.title
        footer.section__footer
          button.button.button--primary(data-hystmodal='#popup')
            .button__title Связаться с нами
  section.section.clients
    .container
      .section__inner
        header.section__header
          h2.section__heading Наши клиенты
          p.section__descr Как мы помогаем развивать бизнес. Проектирование, разработка, маркетинг и другое
        .section__body
          .clients__grid
            each tile in clientsTiles
              +client-tile(tile)
        footer.section__footer
          a.button.button--primary(href='./cases.html')
            .button__title Все кейсы
  section.section.reviews
    .container
      .section__inner
        header.section__header
          h2.section__heading Доверяют нашим решениям
          p.section__descr Мы ценим оказанное нам доверие и работаем с заказчиками единой командой
        .section__body
          .reviews__slider.swiper
            .reviews__slider-inner.swiper-wrapper
              each slide in reviewSlides
                .reviews__slider-slide.swiper-slide
                  +review-tile(slide)
            .reviews__slider-pagination.swiper-pagination
        footer.section__footer
          button.button.button--primary(data-hystmodal='#popup')
            .button__title Связаться с нами
  section.section.blog
    .container
      .section__inner
        header.section__header
          h2.section__heading Блог и новости
          p.section__descr Интересное о наших проектах, мира бизнеса и технологий
        .section__body
          .blog__grid
            each tile in blogTiles
              +blog-tile(tile)
        footer.section__footer
          a.button.button--primary(href='./blog.html')
            .button__title Все статьи


  +popup()
  +popup-thanks()
